.error_message {
    margin: 0 auto;
    color: #f00;
}

.page_wrapper {
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page_wrapper .left_side {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50vw;
    background-color: var(--primary-color);
}

.page_wrapper .right_side {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50vw;
    background-color: #fff;
    box-sizing: border-box;
}

.page_wrapper .left_side .logo {
    font-family: "Lobster", cursive;
    color: #fff;
    font-size: 4rem;
    cursor: pointer;
}

.page_wrapper .right_side .register_wrapper {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    height: 37rem;
    width: 25rem;
    box-shadow: 1.7rem 1.2rem rgb(3, 145, 205);
    border: 1px var(--primary-color) solid;
}

.page_wrapper .right_side .register_wrapper #heading {
    margin: 1.2rem auto;
    color: rgb(0, 151, 215);
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 2rem;
}

.page_wrapper .right_side .register_wrapper .form_input {
    margin-left: 0.8rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.page_wrapper .right_side .register_wrapper .form_input label {
    display: block;
    margin-bottom: 0.4rem;
}

.page_wrapper .right_side .register_wrapper .form_input input {
    margin-top: 0.4rem;
    padding: 0.4rem;
    width: 92%;
    border-radius: 0.3rem;
    border: 0.1rem #aaa solid;
    outline: none;
}

.page_wrapper .right_side .register_wrapper button {
    margin: 2.3rem auto;
    margin-bottom: 1rem;
    width: 89%;
    padding: 0.7rem;
    color: #fff;
    background-color: var(--primary-lighter-color);
    border-radius: 0.3rem;
    border: 0;
    outline: none;
    cursor: pointer;
}

.page_wrapper .right_side .register_wrapper button:hover {
    background-color: var(--primary-hover-color);
}

.page_wrapper .right_side .register_wrapper p {
    margin: auto auto 1rem auto;
    font-size: 1rem;
}

.page_wrapper .right_side .register_wrapper p a {
    color: rgb(1, 140, 178);
    text-decoration: none;
    cursor: pointer;
}

.page_wrapper .right_side .register_wrapper p a:hover {
    color: rgb(2, 168, 214);
}
