<div class="container">
  <form [formGroup]="form" class="register_wrapper" #input="ngForm">
    <h2 id="heading">Add Product</h2>
    <div class="image_input">
      <button (click)="inputFile.click()">Show us what you're selling <br/><br/> <i class="fas fa-camera"></i></button>
      <input (change)="onUploadImage($event)" type="file" #inputFile>
    </div>
    <div class="form_input">
        <label for="title">Title</label>
        <input formControlName="title" required maxlength="150" type="text" name="title" id="title" placeholder="Title Should Not Exceed 150 Words"/>
    </div>
    <div class="form_input">
        <label for="description">Description</label>
        <textarea formControlName="description" required maxlength="1400" type="text" name="description" id="description" placeholder="You have up to 1400 characters to describe your product"></textarea>
    </div>
    <div class="form_input">
        <label for="price">Price</label>
        <input formControlName="price" required type="number" name="price" id="price"/>
    </div>
    <div class="submit">
      <button (click)="uploadImage()">Create</button>
      <button (click)="toggleCreateProduct()">Cancel</button>
    </div>
</form>
</div>
