/backend-node/node_modules
/backend-node/config
/backend-node/images
/frontend-react/node_modules
/.idea
/.vscode
/backend-node/.idea
/frontend-angular/.idea
/frontend-react/.idea
/backend-node/.vscode
/frontend-angular/.vscode
/frontend-react/.vscode
