.container {
  box-sizing: border-box;
  height: 100vh;
}

.container .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
  min-height: 8vh;
  max-height: 8vh;
  background-color: #fff;
  border: 1px #e1e1e1 solid;
  box-shadow: 0 0 1rem 0.2rem #ccc;
  box-sizing: border-box;
}

.container .header .logo {
  color: #000;
  font-family: "Lobster", cursive;
  font-size: 3rem;
  font-weight: lighter;
  outline: none;
  cursor: pointer;
}

.container .header .empty {
  margin-right: 3rem;
}

.container .login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
}

.register_wrapper {
  display: flex;
  flex-direction: column;
  height: 22rem;
  width: 25rem;
  margin-bottom: 10rem;
  background-color: #fff;
  border: 1px #e1e1e1 solid;
  box-shadow: 0 0 1rem 0.2rem #ccc;
  border-radius: 1rem;
}

.register_wrapper #heading {
  margin: 1.2rem auto;
  color: #000;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  font-size: 2rem;
  cursor: pointer;
}

.register_wrapper .form_input {
  margin-left: 0.8rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.register_wrapper .form_input label {
  display: block;
  margin-bottom: 0.4rem;
}

.register_wrapper .form_input input {
  margin-top: 0.4rem;
  padding: 0.4rem;
  width: 92%;
  border-radius: 0.3rem;
  border: 0.1rem #aaa solid;
  outline: none;
}

.register_wrapper button {
  margin: 1rem auto;
  margin-bottom: 1.5rem;
  width: 90%;
  padding: 0.7rem;
  color: #fff;
  background-color: #000;
  border-radius: 0.3rem;
  border: 0;
  outline: none;
  cursor: pointer;
}

.register_wrapper button:hover {
  background-color: #333;
}

.register_wrapper p {
  margin: auto;
  font-size: 1rem;
}

.register_wrapper p a {
  color: rgb(1, 140, 178);
  text-decoration: none;
  cursor: pointer;
}

.register_wrapper p a:hover {
  color: rgb(2, 168, 214);
}
