<div class="container">
  <div class="header">
    <div class="logo">
      Admin Panel
    </div>
    <div class="empty">
      <i class="fas fa-door-open" (click)="logout()"></i>
    </div>
  </div>
  <app-admin-dashboard *ngIf="!isEdit && !isCreateUser" (isEditEvent)="toggleIsEdit($event)" (userEdit)="recieveUser($event)" (isCreateEvent)="toggleCreateUser($event)"></app-admin-dashboard>
  <app-admin-user *ngIf="isEdit && !isCreateUser" [user]="user" (isEditEvent)="toggleIsEdit($event)"></app-admin-user>
  <app-admin-add-user *ngIf="isCreateUser" (isCreateEvent)="toggleCreateUser($event)"></app-admin-add-user>
</div>
