<div class="container">
  <div class="header">
    <div class="logo">
      Admin Panel
    </div>
    <div class="empty">
      <i class="fas fa-door-open" (click)="logout()"></i>
    </div>
  </div>
  <app-admin-dashboard
  *ngIf="!isUserEdit && !isProductEdit && !isCreateUser && !isCreateProduct"
  (isEditUserEvent)="toggleIsEditUser($event)"
  (isEditProductEvent)="toggleIsEditProduct($event)"
  (userEdit)="recieveUser($event)"
  (productEdit)="recieveProduct($event)"
  (isCreateUserEvent)="toggleCreateUser($event)"
  (isCreateProductEvent)="toggleCreateProduct($event)"></app-admin-dashboard>
  <app-admin-user
  *ngIf="isUserEdit && !isCreateUser && !isCreateProduct && !isProductEdit"
  [user]="user"
  (isEditUserEvent)="toggleIsEditUser($event)"></app-admin-user>
  <app-admin-product *ngIf="isProductEdit && !isCreateUser && !isCreateProduct  && !isUserEdit"
  [product]="product"
  (isEditProductEvent)="toggleIsEditProduct($event)"></app-admin-product>
  <app-admin-add-user *ngIf="isCreateUser && !isCreateProduct"
  (isCreateUserEvent)="toggleCreateUser($event)"></app-admin-add-user>
  <app-admin-add-product *ngIf="isCreateProduct"
  (isCreateProductEvent)="toggleCreateProduct($event)"></app-admin-add-product>
</div>
