<app-header></app-header>
<div class="container">
    <div class="profile-container">
        <form [formGroup]="form" class="profile-picture">
            <img *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid" [src]="imagePreview" width="80%" />
            <img *ngIf="imagePreview === '' && !imagePreview" src="../../assets/empty-profile.png" width="80%" />
            <button *ngIf="!onPasswordChange && imagePreview === '' && !imagePreview" class="success" (click)="inputFile.click()">Update Profile Picture</button>
            <button *ngIf="!onPasswordChange && imagePreview !== '' && imagePreview" class="success" style="margin-bottom: 0.5rem;" (click)="updateProfilePicture()">Confirm</button>
            <button *ngIf="!onPasswordChange && imagePreview !== '' && imagePreview" class="danger" style="margin-top: 0.5rem;" (click)="toggleRenderImageSection()">Cancel</button>
            <input (change)="onChangeProfilePicture($event)" type="file" #inputFile>
        </form>
        <div class="info">
            <section *ngIf="!onPasswordChange" class="detail">
                <h2>First Name</h2>
                <p>{{ firstName }}</p>
            </section>
            <section *ngIf="!onPasswordChange" class="detail">
                <h2>Last Name</h2>
                <p>{{ lastName }}</p>
            </section>
            <section *ngIf="!onPasswordChange" class="detail">
                <h2>Email Address</h2>
                <p>{{ email }}</p>
            </section>
            <form *ngIf="onPasswordChange" (ngSubmit)="changePassword(input)" #input="ngForm">
                <p class="error_message">{{ errorMessage }}</p>
                <div class="input-form detail">
                    <label for="old-password">Old Password</label>
                    <input ngModel required type="password" minlength="8" name="old_password" id="old-password" />
                </div>
                <div class="input-form detail">
                    <label for="new-password">New Password</label>
                    <input ngModel required type="password" minlength="8" name="new_password" id="new-password" />
                </div>
                <button class="success">Update</button>
                <button class="danger" (click)="toggleRenderPasswordChange()">
          Cancel
        </button>
            </form>
            <button class="render" *ngIf="!onPasswordChange && (!onPasswordChange && imagePreview === '' && !imagePreview)" (click)="toggleRenderPasswordChange()">
        Update Password
      </button>
        </div>
    </div>
</div>