.container {
  box-sizing: border-box;
  height: 100vh;
}

.container .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
  min-height: 8vh;
  max-height: 8vh;
  background-color: #fff;
  border: 1px #e1e1e1 solid;
  box-shadow: 0 0 1rem 0.2rem #ccc;
  box-sizing: border-box;
}

.container .header .logo {
  color: #000;
  font-family: "Lobster", cursive;
  font-size: 3rem;
  font-weight: lighter;
  outline: none;
  cursor: pointer;
}

.container .header .empty {
  margin-right: 2rem;
}

.container .header .empty i {
  padding: 0.8rem;
  color: #000;
  font-size: 2rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

.container .header .empty i:hover {
  color: #fff;
  background-color: #000;
}

.container .dashboard {
  height: 92vh;
  background-color: #f5f5f5;
}
